@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

body {
	background-color: #f8edeb;
	font-family: 'Ubuntu', sans-serif;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
	overflow: hidden;
	margin: 0;
}

.default-container,
.feedback-container {
	background-color: #fff;
	width: 350px;
	border-radius: 5px;
	text-align: center;
	padding: 1rem;
	box-shadow: 1px 1px 10px rgba(0,0,0,0.2);
}

.feedback-container {
	padding: 1rem 2rem 2rem;
}

.review-container {
	display: flex;
	justify-content: space-around;
	margin: 2rem auto;
}

.question {
	padding: 0 2rem;
}

.review {
	background-color: transparent;
	border: none;
	padding: 1rem;
	cursor: pointer;
}

.review:hover,
.active {
	box-shadow: 1px 1px 5px rgba(0,0,0,0.1);
}

.submit {
	background-color: #000;
	color: #fff;
	border: none;
	border-radius: 5px;
	padding: .7rem 2rem;
	font-family: inherit;
	font-size: 0.8rem;
	cursor: pointer;
}